<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Politique de Confidentialité</title>
  <link rel="stylesheet" href="/public/politique-de-confidentialite.css">
</head>
<body>
  <header>
    <h1>Politique de Confidentialité</h1>
  </header>

  
  <div class="page-content">
    <section>
      <h2>Collecte des données personnelles</h2>
      <p>
        Ce site collecte des données personnelles telles que votre nom, adresse email et toute autre information que vous fournissez volontairement via les formulaires présents sur le site.
      </p>
    </section>

    <section>
      <h2>Utilisation des données</h2>
      <p>Les informations collectées sont utilisées pour :</p>
      <ul>
        <li>Répondre à vos demandes</li>
        <li>Améliorer l'expérience utilisateur sur le site</li>
        <li>Envoyer des newsletters ou des informations importantes si vous avez donné votre consentement</li>
      </ul>
    </section>

    <section>
      <h2>Partage des données</h2>
      <p>
        Nous ne partageons pas vos données personnelles avec des tiers, sauf si cela est nécessaire pour l'exécution de nos services ou si la loi nous y oblige.
      </p>
    </section>

    <section>
      <h2>Droits des utilisateurs</h2>
      <p>
        Vous avez le droit de consulter, rectifier ou supprimer vos données personnelles. Pour ce faire, vous pouvez nous contacter à l'adresse suivante :
        <a href="mailto:tanholivierkei188@gmail.com">tanholivierkei188@gmail.com</a>
      </p>
    </section>

    <section>
      <h2>Sécurité des données</h2>
      <p>
        Nous prenons toutes les mesures nécessaires pour protéger vos informations personnelles contre tout accès non autorisé, altération, divulgation ou destruction.
      </p>
    </section>

    <section>
      <h2>Cookies</h2>
      <p>
        Ce site utilise des cookies pour améliorer votre expérience de navigation. En utilisant ce site, vous acceptez l'utilisation de cookies.
      </p>
    </section>
  </div>

  <footer>
    <p>&copy; 2025 Évangélisation. Tous droits réservés.</p>
  </footer>
</body>
</html>
